

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
    flex-wrap: wrap;
    gap: 48px;

    //For mobile size its on the center

}


//Search Input
.input {
    width: 100%;
    max-width: 425px;
    height: 59px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.096);
    padding: 1.5rem;
}

.region {
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    max-width: 250px;
    background-color: $flagContainer;
    
}



@media screen and (min-width:800px) {


    .input-container {
        padding: 4.8rem 8rem;
        justify-content: space-between;
    }

    input {
        
        max-width: 480px;
        height: 56px;
        
    }
    

}