@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #FAFAFA;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #111517;
}

.display {
  display: block !important;
  position: absolute;
}

header {
  padding: 4.3rem 2rem;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.199);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.199);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar h1 {
  font-size: 20px;
  font-weight: 800;
}

.navbar p {
  font-size: 15px;
}

@media screen and (min-width: 800px) {
  header {
    padding: 3.3rem 8rem;
  }
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
}

.input {
  width: 100%;
  max-width: 425px;
  height: 59px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.096);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.096);
  padding: 1.5rem;
}

.region {
  font-weight: 600;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5rem;
  max-width: 250px;
  background-color: #fff;
}

@media screen and (min-width: 800px) {
  .input-container {
    padding: 4.8rem 8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  input {
    max-width: 480px;
    height: 56px;
  }
}

.flags {
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: -ms-grid;
  display: grid;
  gap: 75px;
  padding: 5rem 6.8rem;
  width: 100%;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.region-container {
  z-index: 999;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
}

.region-options {
  padding: 2.1rem 0;
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  display: none;
  margin-top: 0.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.096);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.096);
}

.region-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
}

.region-options li {
  padding-left: 1.5rem;
  list-style: none;
  text-decoration: none;
  font-weight: 600;
}

.region-options li:hover {
  cursor: pointer;
  color: silver;
}

@media screen and (min-width: 1300px) {
  .flags {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .flags {
    padding: 5rem 8rem;
  }
}

.flag-container {
  border-radius: 5px;
  height: 100%;
  max-height: 416px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 15px 0.5px rgba(0, 0, 0, 0.075);
          box-shadow: 1px 1px 15px 0.5px rgba(0, 0, 0, 0.075);
}

.country-information {
  padding: 0 3.2rem;
}

.country-flag-container {
  overflow: hidden;
  height: 190px;
}

.country-flag {
  max-width: 328px;
  width: 100%;
}

.country-name {
  padding: 3.7rem 0 3.1rem 0;
}

.country-gap {
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  gap: 14px;
}

.country-capital {
  padding-bottom: 5.6rem;
}

strong {
  font-weight: 600;
}

.article {
  padding: 6.5rem 3.4375rem;
}

.article button {
  cursor: pointer;
  font-size: 1.4rem;
  width: 100%;
  max-width: 136px;
  height: 40px;
  margin-bottom: 4rem;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 15px 0.5px rgba(0, 0, 0, 0.075);
          box-shadow: 1px 1px 15px 0.5px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
}

.each-flag-image img {
  width: 100%;
  max-width: 640px;
}

.each-flag-container {
  line-height: 1;
}

.each-flag-container strong {
  padding-right: 2px;
}

.each-flag-container .each-name {
  padding: 6.25rem 0 3.875rem 0;
  font-size: 3rem;
  font-weight: 800;
  color: #333;
}

.each-flag-column-2, .each-flag-column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
  font-size: 1.2rem;
  white-space: nowrap;
}

.each-flag-column-1 {
  padding-bottom: 1.7rem;
}

.each-flag-borders {
  padding-top: 17px;
  font-size: 1.2rem;
}

.each-languages, .each-currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

@media screen and (min-width: 800px) {
  .article {
    padding: 5rem;
  }
  .each-flag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .each-name {
    padding: 4.7rem 0 3.7rem 0 !important;
    font-size: 3rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .each-flag-information {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0fr 0fr;
        grid-template-rows: 0fr 0fr;
    padding: 0 0 0 12.2rem;
  }
}
/*# sourceMappingURL=main.css.map */